spring:
  application:
    name: math-service
server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    beans:
      enabled: true
    shutdown:
      enabled: true
  server:
    port: 9091